{% extends "base.html" %}

{% block content %}

<div class="main">

  <div class="menu">
      <a href="#"><i class="fas fa-arrow-left"></i></a>
      <h3>FIT MUSIC BY F.MUJANI</h3>
      <a href="#"><i class="fas fa-bars"></i></a>
  </div>

  <div class="image"></div>

  <div class="info">
      <h4 id="successAlert">Love you</h4>
      <h4 id="errorAlert" style="display:none;"></h4>
      <p id="successAlert">Christ Brown feat Rick Ross</p> 
  </div>


  <div class="range">
      <div class="time">
          <p>1:17</p>
          <p>5:40</p>
      </div>
      <input type="range" id="range">
  </div>
  <div class="play">
      <a href="#"><i class="fas fa-backward"></i></a>
      <a href="#" id="submit" onclick="submit_message();"><i class="fas fa-play" ></i></a>
      <a href="#"><i class="fas fa-forward"></i></a>
  </div>
</div>


{% endblock %}
